* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-bottom: 2px solid black;
}

.banner-central {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    max-width: 350px;
}