* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-bottom: 2px solid black;
}